<div class="header bg-gradient-success pb-8 pt-4 pt-md-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted ls-1 mb-1">Apartment</h6>
                                    <h2 class="mb-0">New shopping list</h2>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-secondary">
                            <form>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Name</label>
                                                    <input type="text" id="input-username"
                                                           class="form-control form-control-alternative"
                                                           placeholder="Name" name="shoppingListName" [(ngModel)]="shoppingList.name">
                                                </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table align-items-center table-flush">
                                                        <thead class="thead-light">
                                                        <tr>
                                                            <th scope="col">Product</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let product of shoppingList.products; let i = index">
                                                            <td>
                                                                <strong>{{ product.name }}</strong>
                                                            </td>
                                                            <td>
                                                                <strong class="text-success">{{ product.value }} zł</strong>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger" (click)="shoppingList.products.splice(i, 1); ">Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-lg" colspan="3">
                                                                Sum: <strong class="text-success">{{getSum()}} zł</strong>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username">Product</label>
                                                        <input type="text"
                                                               class="form-control form-control-alternative"
                                                               placeholder="Name" name="name" [(ngModel)]="product.name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username">Price</label>
                                                        <input type="number"
                                                               class="form-control form-control-alternative"
                                                               placeholder="Price" name="price" [(ngModel)]="product.value">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="button" class="btn btn-success" (click)="addProduct()">Add product</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-success" (click)="addShoppingList()">Add shopping list</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

