<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active" [routerLink]="['/dashboard']" *ngIf="currentGroup"><strong>{{ currentGroup.name }}</strong> - {{getTitle()}}</a>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">logged as <strong>{{ username }}</strong></span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <div class="dropdown-divider"></div>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">My apartments</h6>
          </div>
          <a href="javascript:;" routerLinkActive="active" class="dropdown-item" *ngFor="let group of groups" (click)="changeGroup(group._id)">
            <i class="ni ni-building"></i>
            <span>{{ group.name }}</span>
          </a>
          <a href="javascript:;" class="dropdown-item" [routerLink]="['/apartment-new']">
            <i class="ni ni-fat-add"></i>
            <span><strong>New apartment</strong></span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="javascript:;" class="dropdown-item" (click)="logout()">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
