<div class="header bg-gradient-success pb-8 pt-4 pt-md-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Apartment</h6>
                  <h2 class="mb-0">Shopping lists</h2>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <app-spinner *ngIf="!this.loaded"></app-spinner>
              <div class="table-responsive" *ngIf="this.loaded">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created by</th>
                    <th scope="col">Value</th>
                    <th scope="col">You owe</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let shoppingList of shoppingLists">
                    <td>
                      <strong>{{ shoppingList.name }}</strong>
                    </td>
                    <td>
                      <a href="">{{ shoppingList.user.username }} <span class="badge badge-info">{{ shoppingList.user.bank_account_number }}</span></a>
                    </td>
                    <td>
                      <strong class="text-success">{{ getValue(shoppingList) }} zł</strong>
                    </td>
                    <td>
                      <strong class="text-danger">{{ getPersonalValue(shoppingList) }} zł</strong>
                    </td>
                    <td>
                      <span class="badge badge-danger" *ngIf="!isPaid(shoppingList)">Not paid</span>
                      <span class="badge badge-success" *ngIf="isPaid(shoppingList)">Paid</span>
                    </td>
                    <td>
                      <i>{{ shoppingList.createdAt | date:'medium' }}</i>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" [routerLink]="['/shopping-lists/' + shoppingList._id]">Details</button>
                      <button type="button" class="btn btn-success" *ngIf="!isPaid(shoppingList)" (click)="changePaidStatus(shoppingList._id)">Set as paid</button>
                      <button type="button" class="btn btn-outline-danger" *ngIf="isPaid(shoppingList)" (click)="changePaidStatus(shoppingList._id)">Set as not paid</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <button type="button" class="btn btn-success" [routerLink]="['/shopping-lists-new']">Add new</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

