<div class="header bg-gradient-success pb-8 pt-4 pt-md-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-12">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">User</h6>
                  <h2 class="mb-0">{{ user.username }}</h2>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <span class="text-sm">Email</span><br>
                  <span class="badge badge-success">{{ user.email }}</span>
                </div>
                <div class="col-auto">
                  <span class="text-sm">Bank account</span><br>
                  <span class="badge badge-info">{{ user.bank_account_number }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

