<div class="header bg-gradient-success pb-8 pt-4 pt-md-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="card shadow">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Apartment</h6>
                  <h2 class="mb-0">New Apartment</h2>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-building"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-secondary">
              <form>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label">Name</label>
                            <input type="text"
                                   class="form-control form-control-alternative"
                                   placeholder="Name" name="name" [(ngModel)]="name">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer text-right">
              <button type="button" class="btn btn-success" (click)="addApartment()">Add apartment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

