<div class="header bg-gradient-success pb-8 pt-4 pt-md-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Apartment</h6>
                  <h2 class="mb-0">Bills</h2>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-file-invoice-dollar"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created by</th>
                    <th scope="col">Value</th>
                    <th scope="col">You owe</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <strong>Czynsz 06.2019</strong>
                    </td>
                    <td>
                      <a href="">Jan Kowalski <span class="badge badge-info">61109010140000071219812874</span></a>
                    </td>
                    <td>
                      <strong class="text-success">1000 zł</strong>
                    </td>
                    <td>
                      <strong class="text-danger">250 zł</strong>
                    </td>
                    <td>
                      <span class="badge badge-danger">Not paid</span>
                    </td>
                    <td>
                      <i>Two days ago.</i>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success">Set as paid</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Czynsz 06.2019</strong>
                    </td>
                    <td>
                      <a href="">Jan Kowalski <span class="badge badge-info">61109010140000071219812874</span></a>
                    </td>
                    <td>
                      <strong class="text-success">1000 zł</strong>
                    </td>
                    <td>
                      <strong class="text-danger">250 zł</strong>
                    </td>
                    <td>
                      <span class="badge badge-danger">Not paid</span>
                    </td>
                    <td>
                      <i>Two days ago.</i>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success">Set as paid</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Czynsz 06.2019</strong>
                    </td>
                    <td>
                      <a href="">Jan Kowalski <span class="badge badge-info">61109010140000071219812874</span></a>
                    </td>
                    <td>
                      <strong class="text-success">1000 zł</strong>
                    </td>
                    <td>
                      <strong class="text-danger">250 zł</strong>
                    </td>
                    <td>
                      <span class="badge badge-danger">Not paid</span>
                    </td>
                    <td>
                      <i>Two days ago.</i>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success">Set as paid</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Czynsz 06.2019</strong>
                    </td>
                    <td>
                      <a href="">Jan Kowalski <span class="badge badge-info">61109010140000071219812874</span></a>
                    </td>
                    <td>
                      <strong class="text-success">1000 zł</strong>
                    </td>
                    <td>
                      <strong class="text-danger">250 zł</strong>
                    </td>
                    <td>
                      <span class="badge badge-danger">Not paid</span>
                    </td>
                    <td>
                      <i>Two days ago.</i>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success">Set as paid</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Czynsz 06.2019</strong>
                    </td>
                    <td>
                      <a href="">Jan Kowalski <span class="badge badge-info">61109010140000071219812874</span></a>
                    </td>
                    <td>
                      <strong class="text-success">1000 zł</strong>
                    </td>
                    <td>
                      <strong class="text-danger">250 zł</strong>
                    </td>
                    <td>
                      <span class="badge badge-danger">Not paid</span>
                    </td>
                    <td>
                      <i>Two days ago.</i>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success">Set as paid</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <button type="button" class="btn btn-success" [routerLink]="['/bills-new']">Add new</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

